# Created by .ignore support plugin (hsz.mobi)
### env file
.env

### Magento2 template
shop/sitemap
shop/sitemap.xml
shop/pub/sitemap
shop/pub/sitemap.xml
shop/app/config_sandbox
shop/app/etc/config.php
shop/app/etc/env.php
shop/app/code/Magento/TestModule*
shop/lib/internal/flex/uploader/.actionScriptProperties
shop/lib/internal/flex/uploader/.flexProperties
shop/lib/internal/flex/uploader/.project
shop/lib/internal/flex/uploader/.settings
shop/lib/internal/flex/varien/.actionScriptProperties
shop/lib/internal/flex/varien/.flexLibProperties
shop/lib/internal/flex/varien/.project
shop/lib/internal/flex/varien/.settings
shop/.grunt
shop/.php_cs.cache
shop/grunt-config.json
shop/dev/tools/grunt/configs/local-themes.js

shop/pub/media/*.*
!shop/pub/media/.htaccess
shop/pub/media/attribute/*
!shop/pub/media/attribute/.htaccess
shop/pub/media/analytics/*
shop/pub/media/catalog/*
!shop/pub/media/catalog/.htaccess
shop/pub/media/customer/*
!shop/pub/media/customer/.htaccess
shop/pub/media/downloadable/*
!shop/pub/media/downloadable/.htaccess
shop/pub/media/favicon/*
shop/pub/media/import/*
!shop/pub/media/import/.htaccess
shop/pub/media/logo/*
shop/pub/media/theme/*
shop/pub/media/theme_customization/*
!shop/pub/media/theme_customization/.htaccess
shop/pub/media/wysiwyg/*
!shop/pub/media/wysiwyg/.htaccess
shop/pub/media/tmp/*
!shop/pub/media/tmp/.htaccess
shop/pub/media/captcha/*
!shop/pub/media/captcha/.htaccess
shop/pub/static/*
!shop/pub/static/.htaccess

shop/var/*
!shop/var/.htaccess
shop/vendor/*
!shop/vendor/.htaccess
shop/generated/*
!shop/generated/.htaccess

.idea
